:root {
    --color-accent:#2196F3;
    --color-white: #FFFFFF;
    --color-main-dark: #212121;
    --color-dark-black:#2F303A;
    --color-accent-black: #000000;
    --color-light-gray: #F5F4FA;
    --color-feature:#757575;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
} */

ul {
list-style: none;
}



body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-main-dark);
    }  

button {
    cursor: pointer;
            font-size: 16px;
            line-height: 1.62;
            text-align: center;
            letter-spacing: 0.03em;
}


 .accent{
    color: var(--color-accent);
 }

.header-container {
    display: flex;
    align-items: center;
    border: 1px solid #ECECEC;
}

 .header a, 
  footer a {
    text-decoration: none;
    color: inherit;

 }

 .header a {
    padding-top: 24px;
    padding-bottom: 25px;
    display: block;
    
 }

.header-nav-link{
       margin-bottom: 9px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1,14;
        letter-spacing: 0.02em;
        text-decoration: none;
       



}



.list {

display: flex;
flex-wrap: wrap;
gap: 30px;

}

.header-contact-list {
column-gap: 50px;
margin-left: auto;

}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid red; */
    margin: 0 auto;
    
}

/* display: flex;
justify-content: (center) space-between;
align-items: center;
flex-wrap: wrap;
flex-grow:;
flex-shrink */

/* width: calc((100%- px) / ); */

 /* gap:;
 column-gap:;
 row-gap:; */


.logo {
font-family: Raleway;
font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 93px;

}



.header-nav{
list-style: none;
display: flex;
column-gap: 50px;

}

.header .header-contact-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--color-feature);
        
        

}
.header-nav-link:hover,
.header-nav-link:focus,
.header-contact-link:hover,
.header-contact-link:focus{
        
    color: var(--color-accent);
   
}

.header-contact-link {
    
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
     color: rgba(255, 255, 255, 0.6);
    
     
}

.hero {
    background-color: var(--color-dark-black);
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-text {
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;

}

.hero-btn{
    min-width: 216px; ;
    height: 50px; ;
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    padding: 10px 28px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--color-white);
    background-color: var(--color-accent);
}

.benefits{
    padding: 94px 0;
}


.benefits-list {
    display: flex;
    column-gap: 30px;
   
   
}

.benefits-header {
margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-main-dark);
}



.benefits-text {
    max-width: 270px;
    max-height: 98px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-feature)
    
   }

   .section {
    padding-bottom: 94px;
   }

.section-header {
   margin-bottom: 50px;
       font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--color-light-gray) ;
}

.name-profession {
padding-top: 30px;
margin-bottom: 30px;
}

.parameters {
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-name {
   margin-bottom: 10px;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        text-align: center;
    
}
.team-position {
       
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--color-feature);
}


.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--color-dark-black);
    color: rgba(255, 255, 255, 0.6);
    
}

.footer-logo {
    display: block;
    font-family: 'Raleway';
        font-style: normal;
        padding-bottom: 20px;
       font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--color-white);
   
}
.address {
    /* display: block;
      padding-bottom: 9px; */
    font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--color-white);
}

.footer-list > li:not(:last-child) {
margin-bottom: 9px;
}

.filters {
padding: 94px 0;

}



.filters-btn:hover,
.filter-btn:focus
 {
    background-color: var(--color-accent);
    color: var(--color-white);

}
.list-portfolio {
    margin-bottom: 50px;
    column-gap: 8px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
   
        
}
.filters-btn {
    font-family: 'Roboto';
        font-style: normal;
        padding: 6px 22px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        text-align: center;
    color: var(--color-main-dark);
    font-family: inherit;
    border: none;
    border-radius: 4px;
        height: 38px;
        left: 957px;
        top: 174px;
        
    background-color: var(--color-light-gray);
    
     }
        
  
  .varieties {
        width: 370px;
        height: 404px;
        left: 1015px;
        top: 1130px;
    
        background-color: var(--color-white);
        border: 1px solid #EEEEEE;
  }
  
  .name-description {
    padding: 20px 24px 20px 24px;
  }

.options-name {
    margin-bottom: 4px;
    font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--color-main-dark);
}

.options-addition {
    margin-bottom: 20px;   
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--color-feature);
}
   